<div class="modal fade" id="addMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Add Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <div class="mb-3">
            <label class="form-label">Select Person</label>
            <select class="form-select">
                <option>Ahmet Yılmaz</option>
                <option>Hasan Kılıç</option>
                <option>Fatma Aydın</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Role in Group</label>
            <select class="form-select">
                <option>Talebe Abi</option>
                <option>Talebe</option>
            </select>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary">Add</button>
      </div>

    </div>
  </div>
</div>
